.payment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.payment-name{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: transparent;
}
.payment-flex{
    margin: 1rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.rz{
    font-weight: bold;
    font-size: 1.5rem;
}
.payment-column p{
    margin: 1rem 0;
}
.badges{
    background-color: var(--sidebar-hover);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 28px;
    border: 1px solid var(--card-border);
    width: 25%;
    float: right;
    text-align: center;
}