.services-container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: baseline;
}
.compare-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
    position: relative;
}
.services-info img{
    width: 80%;
}
.services-info input{
    margin-right: 20px;
}
.icontool{
    position: absolute;
    bottom: 17px;
    left: 115px;
    color: green;
    font-size: 28px;
}
.icontool1{
    color: green;
    font-size: 28px;
    margin-bottom: 1rem;
    text-align: center;
}
.iconreject{
    color: red;
    font-size: 28px;
    margin-bottom: 1rem;
    text-align: center;
}
.backend-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.backend-containeri{
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    display: flex;
}
.backend-loader{
    background-color: rgba(33,29,48,1);
    border-radius: 99999px;
    animation: loading-pin 1.8s ease-in-out infinite;
    width: .5rem;
    height: .5rem;
    margin-left: .25rem;
    margin-right: .25rem;
}
.delay1{
    animation-delay: .15s;
}
.delay2{
    animation-delay: .3s;
}
.delay4{
    animation-delay: .45s;
}
@keyframes loading-pin{
    0%, 40%, to{
        height: .5em;
        background-color: #282336;
    }
    20%{
        height: 1em;
        background-color: #fff;
    }
}
.flex-design{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.compare-container1{
    display: block;
}
.compare-product{
    margin-bottom: 2rem ;
}