.login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.login-container{
    background-color: rgba(14, 14,14, 1);
    min-height: 100vh;
    align-items: center;
    padding-top: 5rem;
   
}
.colorChange{
    color: rgba(252,236,97,1) !important;
}
.login-form{

    padding: 3rem;
    background-color: rgba(52, 52, 52,.15);
    border-radius: 0.75rem;
    max-width: 600px;
    width: 100%;
    margin: 5rem auto;
    
}
.login-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}
.login-heading{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.login-hint{
    color: rgba(124, 124, 124, 1);
    margin-top: 1rem;
}
.field-heading{
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}
.input-field-loginfield {
    width: 80%;
    flex: 1;
    padding: 1rem;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    width: 100%;
    margin-top: 1rem;
    background-color: #202020;
    color: #7c7c7c;
}

.input-field-loginfield::placeholder {
    color: #7c7c7c;
}

.login-submit{
    background-color: #292d86 !important;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header-container{
    right: 0;
    left: 0;
    background-color: var(--header-background);
    border-color: rgba(60, 60, 60, 0.5);
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid var(--header-border);
    display: flex;
    justify-content: space-between;
    position: fixed;
    color: white;
    z-index: 1000;
    padding: 0 1.75rem;
}




.header-right {
    display: flex;
    align-items: center;
  }
  
  /* Parent div for hamburger menu and dropdown arrow */
  .menu-controls {
    display: flex;
    height: 50px;
    justify-content: space-around;
    width: 100px;
    padding: 10px;
    border-radius: 30px;
    background-color:var(--header-left);
    align-items: center;
    cursor: pointer; /* Make the entire div clickable */
  }
  .menu-controls:hover{
    background-color: var(--header-left-hover);
  }
  
.three-lines{
    color: var(--header-hamburger);
    padding: .25rem;
    display: inline-block;
    /* position: relative; */
}
.lines-logo{
    font-size: 1rem;
    line-height: 1.5rem;
}
.arrow-show{
    transition-duration: .1s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--header-hamburger);
}


.dropdown-container {
    position: absolute; /* Relative to parent */
    top: 100%; /* Just below the header */
    right: 0; /* Align to the right edge */
    background-color: rgba(19, 19, 34, 1);
    border-radius: 0.5rem;
    width: 16rem; /* Consistent width */
    z-index: 1001; /* Above the header */
  }
  


.container-dropdown{
    right: 0;
    background-color: var(--header-dropdown);
    border-radius: 0.5rem;
    width: 16rem;
    margin-top: 0.75rem;
    top: 100%;
    position: absolute;
    margin: 0px 1.75rem;
}
.dropdown-link{
    transition-duration: .1s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    font-weight: 500;
    padding: 0.25rem;
    border-radius: 0.25rem;
    gap: 0.75rem;
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 0.75rem;
    text-decoration: inherit;
    color: var(--header-dropdown-links);
}
.dropdown-link:hover{
    color: var(--header-dropdown-links-hover);
}
.icon{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
hr{
    background-color: var(--header-border);
    border-width: 0px;
    width: 100%;
    height: 2px;
    margin: 0;
}
.icon-logo{
    gap: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1rem 0;
}

.icon-anchor{
    color: var(--header-dropdown-icon);
    background-color: var(--header-dropdown-icons-bg);
    border-radius: 10000px;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    text-decoration: inherit;
}
.icon-anchor:hover{
    color: var(--header-dropdown-icons-bg-hover);
}
.logo-icon{
    font-size: 1.5rem;
    line-height: 2rem;
}
.custom-checkbox {
    /* width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white; */
    width: 24px; /* Set a fixed width */ /* Set a fixed width */
    display: flex;
    background-color: #343434;
    border: 1px solid #0e0e0e;
    color: var(--color-text);
    align-items: center;
    outline: none;
    padding-left: 4px;
    border-radius: 5px;

  }
  

  
  .checkbox-icon {
    color: #7c7c7c;
    flex-shrink: 0; /* Prevent shrinking */

  }
  
  .checkbox-label {
    margin-left: 8px;
    color: #fff;
    font-size: 16px;
    flex-shrink: 0;
  }