/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,500&family=Spectral:wght@200&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root {
    padding: 0;
}
.red-theme {
    --button-background: #852b2b;
    --button-hover-background: #bd3436;
    --card-bg: rgba(69 ,36 ,34,.15);
    --color-text: #9c605c;
    --icon-color: #ea5b5f;
    --sidebar-hover: #2b1614;
    --card-border: #462422;
    --page-bg: #130909;
    --toggle-color: #d34648;
    --toggle-off: #421617;
    --gradient1: rgba(80, 31, 36, 1);
    --gradient2: rgba(133, 42, 43, 1);
    --header-left:#341c1b;
    --header-left-hover:#673b38;
    --header-dropdown:#231210;
    --header-dropdown-links:#9c605c;
    --header-dropdown-links-hover:#ffffff;
    --header-background:#1e0d0e;
    --header-hamburger:#9c605c;
    --header-dropdown-icon:#9c605c;
    --header-dropdown-icons-bg:#361c1a;
    --header-dropdown-icons-bg-hover:#ffffff;
    --header-border:#351516;



}

.blue-theme {
    --gradient1: #1f2450;
    --gradient2: #083aa7;
    --button-background: #093aa7;
    --button-hover-background: #034eec;
    --card-bg: rgba(48, 39 ,65,.15);
    --color-text: #756690;
    --icon-color: #4581ff;
    --sidebar-hover: #1d1728;
    --card-border: #312741;
    --toggle-color: #1a63ff;
    --toggle-off: #1c243c;
    --page-bg: #0d0a12;
    --header-left:#251e31;
    --header-left-hover:#4a3f60;
    --header-dropdown:#181322;
    --header-dropdown-links:#756690;
    --header-dropdown-links-hover:#ffffff;
    --header-background:#110f1e;
    --header-hamburger:#756690;
    --header-dropdown-icon:#756690;
    --header-dropdown-icons-bg:#251e32;
    --header-dropdown-icons-bg-hover:#ffffff;
    --header-border:#1b1f2f;
}

.green-theme {
    --gradient1: #1f503b;
    --gradient2: #285b87;
    --button-background: #275b87;
    --button-hover-background: #317dbf;
    --card-bg: rgba(39, 52, 65,.15);
    --color-text: #677c90;
    --icon-color: #5aa8ec;
    --sidebar-hover: #172028;
    --card-border: #273441;
    --toggle-color: #4491d6;
    --toggle-off: #1c3c3b;
    --page-bg: #0a0e12;
    --header-left:#212c38;
    --header-left-hover:#3f4f60;
    --header-dropdown:#121a22;
    --header-dropdown-links:#677c90;
    --header-dropdown-links-hover:#ffffff;
    --header-background:#0e1a1a;
    --header-hamburger:#677c90;
    --header-dropdown-icon:#677c90;
    --header-dropdown-icons-bg:#1e2832;
    --header-dropdown-icons-bg-hover:#ffffff;
    --header-border:#1a2f2f;
}

.gray-theme {
    --gradient1: #383838;
    --gradient2: #292d86;
    --button-background: #292d86;
    --button-hover-background: #333abe;
    --card-bg: rgba(52, 52, 52,.15);
    --color-text: #7c7c7c;
    --toggle-color: #454cd4;
    --toggle-off: #2c2c2c;
    --icon-color: #5962eb;
    --sidebar-hover: #202020;
    --card-border: #343434;
    --page-bg: #0e0e0e;
    --header-left:#29292e;
    --header-left-hover:#4f4f4f;
    --header-dropdown:#1a1a1a;
    --header-dropdown-links:#7c7c7c;
    --header-dropdown-links-hover:#ffffff;
    --header-background:#161617;
    --header-hamburger:#7c7c7c;
    --header-dropdown-icon:#7c7c7c;
    --header-dropdown-icons-bg:#282828;
    --header-dropdown-icons-bg-hover:#ffffff;
    --header-border:#252525;
}
.purple-theme {
    --button-background: #572987;
    --button-hover-background: #7831bf;
    --card-bg: rgba(39, 39, 65,.15);
    --color-text: #676790;
    --icon-color:#a359ec;
    --sidebar-hover: #171728;
    --card-border: rgba(39, 39 ,65,1);
    --page-bg: #0a0a12;
    --toggle-color: #8d44d6;
    --toggle-off: #1b2c3c;
    --gradient1: #1f1f50;
    --gradient2: #572887;
    --header-left:#242038;
    --header-left-hover:#3f3f60;
    --header-dropdown:#131322;
    --header-dropdown-links:#676790;
    --header-dropdown-links-hover:#ffffff;
    --header-background:#0e0e1e;
    --header-hamburger:#676790;
    --header-dropdown-icon:#676790;
    --header-dropdown-icons-bg:#1e1e32;
    --header-dropdown-icons-bg-hover:#ffffff;
    --header-border:#1a232f;
}
.card-design {
    border-radius: 10px;
    width: calc(100% - 20%);
    margin: 1rem;
    padding: 2rem;
    border: 1px solid var(--card-border);
    background-color: var(--card-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-design {
    color: white;
    border: none;
    background-color: var(--button-background);
    border-radius: 13px;
    padding: 12px 2rem;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.input-field {
    width: 80%;
    flex: 1;
    background-color: var(--sidebar-hover);
    padding: 1rem;
    color: var(--color-text);
    outline: none;
    border-radius: 0.5rem;
    border: none;
}

.input-field:focus {
    outline: none;
}

::placeholder {
    color: var(--color-text);
    opacity: 1;
    /* Firefox */
}

::-ms-input-placeholder {
    /* Edge 12-18 */
    color: var(--color-text);
}

::file-selector-button {
    background-color: var(--sidebar-hover);
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--color-text);
    outline: none;
    border: none;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: black;
} 

::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-hover);
}
span.MuiStepLabel-label.Mui-active.MuiStepLabel-alternativeLabel.css-1hv8oq8-MuiStepLabel-label {
    color: white;
}
span.MuiStepLabel-label.Mui-disabled.MuiStepLabel-alternativeLabel.css-1hv8oq8-MuiStepLabel-label {
    color: white;
}
.css-tpyaec-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: white !important;
}
.css-tpyaec-MuiSvgIcon-root-MuiStepIcon-root {
    color: white !important;
}
.css-117w1su-MuiStepIcon-text {
    fill: black !important;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-completed{
    color: white !important;
}

.imagedrop{
    color: var(--color-text)
}
.index-container{
    min-height: 100vh;
    display: block;
    
}